@page
@model SqlPackMan.Pages.DbObjects.EditModel

<h4>DbObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DbObject.Id" />
            <div class="form-group">
                <label asp-for="DbObject.ObjectName" class="control-label"></label>
                <input asp-for="DbObject.ObjectName" class="form-control" />
                <span asp-validation-for="DbObject.ObjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbObject.PackageId" class="control-label"></label>
                <select asp-for="DbObject.PackageId" class="form-control" asp-items="ViewBag.PackageId"></select>
                <span asp-validation-for="DbObject.PackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbObject.Status" class="control-label"></label>
                <select asp-for="DbObject.Status" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="DbObject.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbObject.DbObjectType" class="control-label"></label>
                <select asp-for="DbObject.DbObjectType" class="form-control" asp-items="ViewBag.DbObjectTypeId"></select>
                <span asp-validation-for="DbObject.DbObjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
