@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>SQL Package Manager</h1>
    <p>High Level description of packages, and process</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Develop</h2>
        <p><b>SQL Developer:</b> <br/>Create, Edit, and Submit Packages</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Migrate</h2>
        <p><b>SQL Admin: </b> <br /> Review and Migrate Packages between environments</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Accept</h2>
        <p><b>SQL Developer:</b> <br />Verify package functionality in target environment</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Compare</h2>
        <p><b>All Users:</b> <br />Generate RedGate HTML database comparison report</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>