@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>SQL Package Manager</h1>
    <ul>
        <li>A SQL Package is a group of database objects related to feature or objective.</li>
        <li>A Migration is a transfer of packages from one environment to another, including the execution of optional 'Pre' and 'Post' SQL scripts.</li>
        <li>Packages are created in the Development Environment, then migrate through QA, Staging, and Production.</li>
    </ul>
    <ol type="1">
        <li>SQL Developers create, edit, and submit packages to SQL Admins for review and migration.</li>
        <li>SQL Admins configure and execute Migrations of submitted packages.</li>
        <li>SQL Developers verify the correct operation of migrated package items and data.</li>
    </ol>

</div>
<div class="row">
    <div class="col-md-3">
        <h2>Develop</h2>
        <p><b>SQL Developer:</b> <br/>Create, Edit, and Submit Packages</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Migrate</h2>
        <p><b>SQL Admin: </b> <br /> Review and Migrate Packages </p>
        <br />
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Accept</h2>
        <p><b>SQL Developer:</b> <br />Verify package functionality in target environment</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Compare</h2>
        <p><b>All Users:</b> <br />Generate RedGate HTML database comparison report</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>