@page
@model SqlPackMan.Pages.Packages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Package</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Package.Name" class="control-label"></label>
                <input asp-for="Package.Name" class="form-control" />
                <span asp-validation-for="Package.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.Description" class="control-label"></label>
                <input asp-for="Package.Description" class="form-control" />
                <span asp-validation-for="Package.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.DdsEnvironmentId" class="control-label"></label>
                <input asp-for="Package.DdsEnvironmentId" class="form-control" />
                <span asp-validation-for="Package.DdsEnvironmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.Database" class="control-label"></label>
                <select asp-for="Package.Database" class="form-control"></select>
                <span asp-validation-for="Package.Database" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.MaxEnvironment" class="control-label"></label>
                <input asp-for="Package.MaxEnvironment" class="form-control" />
                <span asp-validation-for="Package.MaxEnvironment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.Status" class="control-label"></label>
                <select asp-for="Package.Status" class="form-control"></select>
                <span asp-validation-for="Package.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.StatusDate" class="control-label"></label>
                <input asp-for="Package.StatusDate" class="form-control" />
                <span asp-validation-for="Package.StatusDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.ScriptPre" class="control-label"></label>
                <input asp-for="Package.ScriptPre" class="form-control" />
                <span asp-validation-for="Package.ScriptPre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.ScriptPost" class="control-label"></label>
                <input asp-for="Package.ScriptPost" class="form-control" />
                <span asp-validation-for="Package.ScriptPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.ScriptItems" class="control-label"></label>
                <input asp-for="Package.ScriptItems" class="form-control" />
                <span asp-validation-for="Package.ScriptItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.StepNumber" class="control-label"></label>
                <input asp-for="Package.StepNumber" class="form-control" />
                <span asp-validation-for="Package.StepNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package.Version" class="control-label"></label>
                <input asp-for="Package.Version" class="form-control" />
                <span asp-validation-for="Package.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
